.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 100px;
    font-family: 'Outfit', sans-serif;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    font-family: 'Outfit', sans-serif;
} 
     